
/.metadata
/.metadata/.mylyn
/.metadata/.plugins
/.metadata/.lock
/.metadata/.log
/.metadata/version.ini
/Home/classes
/.metadata/.plugins/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime
/Shoemake-Common/target
/Shoemake-Common/.settings/org.eclipse.core.resources.prefs
/Shoemake-Common/.settings/org.eclipse.jdt.core.prefs
/Shoemake-Common/.settings/org.eclipse.m2e.core.prefs
/Shoemake-Common/target
/Shoemake-Database/target
/Shoemake-FamilyMgr/target
/Shoemake-StrutsWeb/target