<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mjs.mybatis.UserMapper">

  <cache />

  <select id="getPersonList" resultType="mjs.users.User">
      select user_pk, 
             username,
             fname, 
             lname, 
             password, 
             description,
             login_enabled,
             dob
      from users
      order by lname + fname
  </select>

<!--
  <update id="updateSignon" parameterType="Account">
    UPDATE SIGNON SET PASSWORD = #{password}
    WHERE USERNAME = #{username}
  </update>

  <insert id="insertSignon" parameterType="Account">
    INSERT INTO SIGNON (PASSWORD,USERNAME)
    VALUES (#{password}, #{username})
  </insert>
-->

</mapper>